APP_ENV=development

DB_USER=user
DB_PASS='password'
DB_NAME='db_name'
DB_HOST=127.0.0.1
DB_PORT=5432
DB_TYPE='postgres'

# DB variables for development
DB_USER_DEV=db_user
DB_PASS_DEV='db_password'
DB_NAME_DEV=db_name
DB_HOST_DEV=127.0.0.1
DB_PORT_DEV=5432
DB_TYPE_DEV='postgres'

# DB variables for testing
DB_USER_TEST=test_user
DB_PASS_TEST='test_password'
DB_NAME_TEST=test_db_name
DB_HOST_TEST=127.0.0.1
DB_PORT_TEST=5432
DB_TYPE_TEST='postgres'

# DB variables for replica
DB_USER_REPLICA=replica_user
DB_PASS_REPLICA='replica_password'
DB_NAME_REPLICA=replica_db_name
DB_HOST_REPLICA=127.0.0.1
DB_PORT_REPLICA=5433
DB_TYPE_DEV='postgres'

MIGRATIONS_PATH=migrations/sql

# Check if ssl is enalbed 0 for false
CHECK_SSL=0
# Check if replica is enabled, 0 for false
ENABLE_REPLICA=0